spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/board
    username: board_user
    password: board_pass
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

jwt:
  access-secret: kisahyBoardJwtAccessSecretKey1234567890
  refresh-secret: kisahyBoardJwtRefreshSecretKey1234567890
  access-expiration: 1800000
  refresh-expiration: 604800000